body{
    background-color: #F8C9DD;
    
}

#signup-form{
    padding-top: 5%;
    padding-left: 25%;
    font-size: xx-large;  
}
.input{
    height: 60px; 
    width: 50%;
    border-radius: 30px;
    border: solid 1px;
    text-align: center;
    margin-left:2%;

}
.label{
    margin-left: -3%;
}
#logo{
    height:170px;
    width:170px;
    margin-left: 45%;
    
 }
 .s-button{
    height: 40px;
    width: 20%;
    margin-left: 25%;
    border-radius:30px;
    margin-top:2% ;
    background-color: #652D91;
    color: white;
    font-size:small;
    border: none;

 }
 .link {
    text-decoration: none;
    color: #652D91;
  }

#signin-text{
    margin-top:1%;
    margin-left: 46%;
}

@media (min-width: 280px) and (max-width: 359px) {
    .input{
        height: 40px; 
        width: 55%;
        border-radius: 30px;
        border: solid 1px;
        text-align: center;
        padding-left: 9%;
    }  
    #signup-form{
        margin-top: 10%;
        padding-left: 10%;
        font-size: larger;  
    }
    #signup-button{
        height:40px;
        width: 30%;
        border-radius: 30px;
    }
    .label{
        margin-left: -3%;
    }
    #logo{
        height:80px;
        width:80px;
        margin-left: 25%; 
     }
}
@media (min-width: 360px) and (max-width: 374px) {
    .input{
        height: 40px; 
        width: 55%;
        border-radius: 30px;
        border: solid 1px;
        text-align: center;
        padding-left: 9%;
    } 
    #signup-form{
        margin-top: 10%;
        padding-left: 10%;
        font-size: larger;  
    } 
    #signup-button{
        height:40px;
        width: 30%;
        border-radius: 30px;
    }
    .label{
        margin-left: -3%;
    }
    #logo{
        height:80px;
        width:80px;
        margin-left: 25%; 
     }

}
@media (min-width: 375px) and (max-width: 435px) {
    .input{
        height: 40px; 
        width: 55%;
        border-radius: 30px;
        border: solid 1px;
        text-align: center;
        padding-left: 9%;
    }  
    #signup-form{
        margin-top: 10%;
        padding-left: 10%;
        font-size: larger;  
    }
    #signup-button{
        height:40px;
        width: 30%;
        border-radius: 30px;
    }
    .label{
        margin-left: -3%;
    }
    #logo{
        height:80px;
        width:80px;
        margin-left: 25%; 
     }


}