body{   
        background-color: #F8C9DD;
       margin-left: 30% ;
       margin-right: 30%;
       font-size: x-large;
       margin-top:6%;    
}


#logo{
   height:200px;
   width:200px;
   margin-left: 30%;
   
}
.link {
    text-decoration: none;
    color: #652D91;
  }

.input{
    margin-top: 10%;
        height: 60px; 
        width: 55%;
        border-radius: 30px;
        border: solid 1px;
        text-align: center;

}
.label{
    margin-left: -4%;
}
.l-button{
    height: 45px;
    width: 200px;
    margin-left: 32%;
    border-radius:30px;
    margin-top:5% ;
    background-color: #652D91;
    color: white;
    font-size:small;
    border: none;
}    
 
#signup-text{
    margin-top: 3%;
    margin-left: 21%;

}



    @media (min-width: 280px) and (max-width: 359px) {
        body{
            margin-top: 4%;
         font-size: x-large;
         margin-left: 2%;
        }
         #logo{
            margin-top: 5%;
            margin-left: 50%;
             height: 80px;
             width:80px;
         }
         .input{
            margin-top: 13%;
            height: 30px; 
            width: 160px;
            border-radius: 15px;
            border: solid 1px;
            text-align: center;
    
        }
        .l-button{
            height: 45px;
            width: 80px;
            margin-left: 50%;
        }
        .label{
            margin-left: 4%;
        }

        #login-button{
            margin-top: 5%;
            height: 43px;
            width: 150%;
            margin-left:22%;
        }
        #signup-text{
            margin-top: 3%;
            margin-left: 2%;
            font-size: large;
        }
     }
     
     @media (min-width: 360px) and (max-width: 374px) {
         body{
            margin-top: 4%;
             font-size:x-large;
             margin-left: 2%;
            }
         #logo{
            margin-top: 5%;
          margin-left: 50%; 
             height: 80px;
             width:80px;
         }
         .input{
            margin-top: 13%;
            height: 43px; 
            width: 160px;
            border-radius: 30px;
            border: solid 1px;
            text-align: center;
        }
        .label{
            margin-left: 4%;
        }
        .l-button{
            height: 45px;
            width: 80px;
            margin-left: 50%;
        }
        #signup-text{
            margin-top: 3%;
            margin-left: 2%;
            font-size: large;
        }
      
     }
     @media (min-width: 375px) and (max-width: 435px) {
         body{
            margin-top: 13%;
             font-size: x-large;
             margin-left: 2%;
            }
         #logo{
            margin-top: 5%;
            margin-left: 50%;
             height: 80px;
             width:80px;
         }
         .input{
            margin-top: 5%;
            height: 43px; 
            width: 160px;
            border-radius: 30px;
            border: solid 1px;
            text-align: center;
    
        }
        .label{
            margin-left: 4%;
        }
        .l-button{
            height: 45px;
            width: 80px;
            margin-left: 50%;
        }
        #signup-text{
            margin-top: 3%;
            margin-left: 2%;
            font-size: large;
         
        }
      
     }
 
 

