body {
  background-color: #f8c9dd;
  margin-left: 30%;
  margin-right: 30%;
  font-size: x-large;
}

#logoo {
  padding-left: 50px;
}

#mentor-name {
  text-align: center;
}

@media (min-width: 280px) and (max-width: 359px) {
  body {
    font-size: small;
  }
  #logoo {
    height: 140px;
    width: 140px;
    margin-left: -50%;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  body {
    font-size: small;
  }
  #logoo {
    height: 140px;
    width: 140px;
    margin-left: -50%;
  }
}
@media (min-width: 375px) and (max-width: 435px) {
  body {
    font-size: small;
  }
  #logoo {
    height: 140px;
    width: 140px;
    margin-left: -50%;
  }
}
