  body {
  background-color: #f8c9dd;

  margin-left: 35%;
  font-size: x-large;
}

  #navbar {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 7%;
    font-size: large;
  }
  #nav {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-left: -9%;
  }
  #todo-title{
    margin-left: 10% ;
  }
  .link {
    text-decoration: none;
    color: #652D91;
  }
  #link{
    color: antiquewhite;
    text-decoration: none;
  }
.to-do{
  margin-left: 2%
}
.input{
  margin-top: 6%;
  height: 60px; 
  width: 500px;
  border-radius: 30px;
  border: solid 1px;
  text-align: center;
  margin-left: -6%;
}
#todo-button{
  height: 60px; 
  width: 100px;
  border-radius: 30px;
  background-color: #652D91;
  color: white;
  border: none;
}

  #logo {
    margin-left: -12%;
    height: 40px;
    width: 40px;
  }
  .checkbox{
    height:16px;
    width:16px;
  }
  #todo-input {
    flex: 1;
    padding: 8px;
    border:none;
    border-radius: 8px;
    width: 350px;
    height: 25px;
    text-align: center;
}



 @media (min-width: 280px) and (max-width: 359px) {
  body{
    margin-left: 5%;
    font-size: small;
  } 
  #navbar{
        display:block;

    }
    #logo {
      margin-top: 4%;
      margin-left: 2%;
      height: 40px;
      width: 40px;
    }
    #nav{
      display: block;
    }
    .input{
      margin-top: 6%;
      height: 40px; 
      width: 300px;
    }
    #todo-input {
        
        padding: 8px;
        border:none;
        border-radius: 8px;
        width: 100px;
        height: 20px;
        text-align: center;
    }
  }

@media (min-width: 360px) and (max-width: 374px) {
  body{
    margin-left: 5%;
    font-size: small;
  } 
  #navbar{
      display:block;
      
    }
    #logo {
      margin-top: 4%;
      margin-left: 2%;
      height: 40px;
      width: 40px;
    }
    #nav{
      display: block;
    }
    .input{
      margin-top: 6%;
      height: 40px; 
      width: 300px;
    }
    #todo-input {
        
        padding: 8px;
        border:none;
        border-radius: 8px;
        width: 100px;
        height: 20px;
        text-align: center;
    }
    
}

@media (min-width: 375px) and (max-width: 435px) {
  body{
    margin-left: 5%;
    font-size: small;
  } 
  #navbar{
    display:block;        
    }
    #nav{
      display: block;
    }
    #logo {
      margin-top: 4%;
      margin-left: 2%;
      height: 40px;
      width: 40px;
    }
    #todo-input {
    
        padding: 8px;
        border:none;
        border-radius: 8px;
        width: 100px;
        height: 20px;
        text-align: center;
    }
    .input{
      margin-top: 6%;
      height: 40px; 
      width: 300px;
    }
   
}

