body{
    background-color: #F8C9DD;
   
       margin-left: 30% ;
       margin-right: 30%;
       font-size: x-large;
}


#navbar{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-left: 10%;
    font-size: large;
    margin-top: 3%;
}
#nav{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#logo{
    height: 90px;
    width: 90px;
    margin-left: -10%;
}
#welcome-page{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

#footer{
    margin-top: 15%;
display:flex;
flex-direction: row;
gap: 150px;
}

@media (min-width: 280px) and (max-width: 359px) {
   body{
   font-size: smaller;
   margin-left:2%;
   
   }
    #logo{
       margin-left: 5%;
    }
    #nav{
        display:block;
    
    }
    #navbar{
        display:block;
    }
    #welcome-page{
        margin-top: 5%;
        display: block;
    }
    #notepad{
        height:130px;
        width: 130px;
    }
    #footer{
        display: block;
    }
}
@media (min-width: 360px) and (max-width: 374px) {
    #nav{
        display:block;
    
    }
    #logo{
        margin-left: 5%;
     }
    body{
        margin-left:2%;
        font-size: smaller;
        
        }
    #navbar{
        display:block;
    }
    #welcome-page{
        margin-top: 5%;
        display: block;
    }
    #notepad{
        height:130px;
        width: 130px;
    }
    #footer{
        display: block;
    }
}
@media (min-width: 375px) and (max-width: 435px) {
    #nav{
        display:block;
    
    }
    #logo{
        margin-left: 8%;
     }
    body{
        font-size: smaller;
     margin-left:5%;
        }
    #navbar{
        display:block;
    }
    #welcome-page{
        margin-top: 5%;
        display: block;
    }
    #notepad{
        height:130px;
        width: 130px;
    }
    #footer{
        display: block;
    }
}