body {
  background-color: #f8c9dd;
  margin-left: 9%;
  margin-right: 5%;
  font-size: x-large;
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 10%;
  font-size: large;
}
#nav {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: 20%;
}
.link {
  text-decoration: none;
  color: #652d91;
}
#notepad {
  height: 300px;
  width: 300px;
  margin-top: 18%;
  border-radius: 20px;
}
#title {
  margin-left: 23%;
}
#logo {
  margin-left: 12%;
  height: 40px;
  width: 40px;
}
#welcome-details {
  margin-top: 6%;
  margin-left: 5%;
}
#welcome-page {
  margin-top: 8%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  gap: 270px;
}

#address {
  margin-top: 4%;
}
#socials {
  margin-top: 8%;
}
#foot{
  margin-top: 3%;
text-align:center;
font-size: x-large;
margin-left: -18%;
}
#footer {
   margin-top: -9%;
  display: flex;
  flex-direction: row;
  gap: 320px;
  align-items: center;
  margin-left: 9%;
  font-size: 21px;
}
hr{
  border-color: #652d91;
  width:100%;
  margin-left: -3%;
}

@media (min-width: 280px) and (max-width: 359px) {
  body {
    font-size: x-large;
    margin-left: -2%;
  }
  #title {
   
    margin-left:13%;
  }
  #logo {
    margin-left: -2%;
  }
  #nav {
   margin-left: 15%;
    display: block;

  }
  #navbar {
    margin-left: -2%;
    display: block;
  }
  #welcome-page {
    margin-top: 5%;
    display: block;
  }
  #notepad {
    height: 130px;
    width: 130px;
    margin-left: 5%;
  }
  #footer {
    display: block;
    gap: 0;
  }
  #foot{
    margin-left: 5%;
    font-size: large;
  }
  hr{
    margin-left: 3%;
  }

}
@media (min-width: 360px) and (max-width: 374px) {
 
  #logo {
    margin-left: -2%;
  }
  body {
    margin-left: -2%;
    font-size: x-large;
  }
  #title {
    margin-left:13%;
    /* display: block; */
  }
  #nav{
    margin-left: 15%;
  }
  #navbar {
    margin-left: -2%;
    display: block;
  }
  #welcome-page {
    margin-top: 5%;
    display: block;
  }
  #notepad {
    margin-left: 7%;
    height: 130px;
    width: 130px;
  }
  #footer {
    display: block;
    gap: 0;
  }
  #foot{
    margin-left: 5%;
    font-size: large;
  }
  hr{
    margin-left: 3%;
  }

}
@media (min-width: 375px) and (max-width: 435px) {
  #nav {
    margin-left: 15%;
    display: block;
  }
  #logo {
    margin-left: -2%;
  }
  body {
    font-size:x-large;
    margin-left: -2%;
  }
  #title {
    
    margin-left:13%;
  } 
  #navbar {
    margin-left: -2%;
    display: block;
  }
  #welcome-page {
    margin-top: 5%;
    display: block;
  }
  #notepad {
    margin-left: 7%;
    height: 130px;
    width: 130px;
  }
  #footer {
    display: block;
    gap: 0;
  }
  #foot{
    margin-left: 5%;
    font-size: large;
  }
  hr{
    margin-left: 3%;
  }

}
